<section id="search-bar">
    <div class="wrapper">
        <div class="search-input">
            <a href="" target="_blank" hidden></a>
            <form action="/" method="post">
                <input type="text" placeholder="Search English" name="word" />
            </form>
            <div class="autocom-box">
                <!-- here list are inserted from javascript -->
            </div>
            <div class="icon"><i class="fas fa-search"></i></div>
        </div>
    </div>
</section>