<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRANSLATE in ENGLISH and more</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/translate.css" />
  </head>
  <body>
    <div class="all-page">
      <section class="navigation-bar">
        <div class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="navbar-header">
                  <button
                    class="navbar-toggle"
                    data-target="#mobile_menu"
                    data-toggle="collapse"
                  >
                    <span class="icon-bar"></span><span class="icon-bar"></span
                    ><span class="icon-bar"></span>
                  </button>
                  <a href="/" class="navbar-brand">DeeTee Dictionary</a>
                </div>

                <div class="navbar-collapse collapse" id="mobile_menu">
                  <ul class="nav navbar-nav">
                    <li><a href="/dictionary">Dictionary</a></li>
                    <li><a href="/translate">Translate</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="#"
                        ><span class="glyphicon glyphicon-user"></span>
                        Profile</a
                      >
                    </li>
                    <li>
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        ><span class="glyphicon glyphicon-log-in"></span> Login
                        / Sign Up <span class="caret"></span
                      ></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Sign Up</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="search-bar">
        <div class="wrapper">
          <div class="search-input">
            <a href="" target="_blank" hidden></a>
            <form action="/" method="post">
              <input type="text" placeholder="Search English" name="word" />
            </form>
            <div class="autocom-box">
              <!-- here list are inserted from javascript -->
            </div>
            <div class="icon"><i class="fas fa-search"></i></div>
          </div>
        </div>
      </section>
    </div>

    <section class="translate">
      <div>
        <div class="a"><h1>Translate</h1></div>
        <div class="b"><h2>English to Vietnamese</h2></div>
        <div class="container">
          <div class="item-1">
            <textarea
              maxlength="320"
              placeholder="Enter text here (English) ^^ "
              name="txtTrans"
              id="txtTrans"
              class="textTrans"
            ></textarea>
            <div class="submit">
              <button class="submit-text" type="submit">Send</button>
            </div>
          </div>
          <div class="item-2"></div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
